* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 74.5vh;
}

.box-main {
    display: flex;
    
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.box-register {
    display: flex;

    flex-direction: column;
    text-align: center;

    width: 80vw;
    height: 45vh;

    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

    margin: auto auto;
}

.box-register-title {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form-floating {
    margin: 0 2rem;
}

.box-register-btn {
    display: block;
    width: 100%;
    height: 100%;
}

.box-register-btn button {
    display: block;
    width: 50%;
    margin: auto;
}

footer {
    position: relative;
    background-color: #add8e6;
    margin-top: 20px;
    color: black;
}

@media screen and (max-width: 768px) {
    .box-register {
        width: 80vw;
    }
}

@media screen and (min-width: 768px) {
    .box-register {
        width: 50vw;
    }
}

@media screen and (max-height: 740px) {
    .box-register {
        height: 60vh;
    }
}

@media screen and (min-height: 800px) {
    .box-register {
        height: 50vh;
    }
}

@media screen and (min-height: 1024px) {
    .box-register {
        height: 55vw;
    }
}

@media screen and (width: 1024px) and (height: 600px) {
    .box-register {
        width: 35vw;
        height: 40vw;
    }
}

@media screen and (width: 1280px) and (height: 800px) {
    .box-register {
        width: 30vw;
        height: 35vw;
    }
}

@media screen and (min-width: 1400px) and (min-height: 800px) {
    .box-register {
        width: 20vw;
        height: 45vh;
    }
}

